@font-face {
	font-family: arial;
	src: url(arial.ttf);
}

body {
	text-align: center;
	background-color: #FFF2E6;
	font-family: arial;
}

h1 {
	color: #BF82E0;
}

h2 {
	color: #BF82E0;
}

h3 {
	color: #BF82E0;
}

a {
	color: grey;
	border: dotted;
}

p{
	width: 900px;
	color: #5D8EE8;
	margin-right: auto;
	margin-left: auto;
	text-align: justify;
}

img {
	width: 900px;
	height: 520px;
}

strong {
	color: purple;
} 

#Links {
	font-size: 20px;
	margin: 30px;
}

#Bibliografia {
	font-size: 20px;
	margin: 30px;
}