body {
	background: #E8554D;
	text-align: center;
	border-style: dotted;
	border-radius: 50px;
	padding: 25px 250px 25px 250px;
}
h1 {
	color: #FFB959;
	font-size: 50px;
}
p {
	color: #D9FF70;
}
h2 {
	color: #CFEAFF;
}
img {
	display: block;
	margin: auto;
}